<div class="preloader-wrapper" id="preloader">
    <div class="motion-line dark-big"></div>
    <div class="motion-line yellow-big"></div>
    <div class="motion-line dark-small"></div>
    <div class="motion-line yellow-normal"></div>
    <div class="motion-line yellow-small1"></div>
    <div class="motion-line yellow-small2"></div>
</div>

<!--MAIN MENU WRAP BEGIN-->
<div class="main-menu-wrap sticky-menu">
    <div class="container">
        <a class="custom-logo-link"><img src="/images/common/esport-champ-logo.png" alt="logo" class="custom-logo"></a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#team-menu" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <nav class="navbar">
            <div class="collapse navbar-collapse" id="team-menu">
                <ul class="main-menu nav">
                    <li><a routerLink="new/home"><span>Home</span></a></li>
                    <!-- 
                        <li> <a [routerLink]="['/tournaments']">  <span>Tournaments</span></a></li>
                    -->
                    <li> <a routerLink="new/tournaments">  <span>Tournaments</span></a></li>                    
                    <li><a routerLink="new/teams"><span>Teams</span></a></li>
                    <li><a routerLink="new/league"><span>League</span></a></li>
                    <li><a routerLink="new/contact"><span>Contact</span></a></li>
                    <!-- NG IF-->
                    <div *ngIf="logged; else otherCont">
                        <li><a href="/login"><span>Log In</span></a></li>
                    </div>
                      <!-- NG IF-->
                    <ng-template #otherCont>
                        <li><a href="#"><span>Settings</span></a></li>
                    <li><img id="profile" class="img-circle dropdown-toggle" data-toggle="dropdown" src="/user/{{userName}}/image" height="50" width="50"/>
                        <ul>
                            <li>
                                <a href="#"> <strong></strong>
                                    <p class="small">Profile</p>
                                </a>
                            </li>
							<li>
                                <form action="/logout" method="post">
                                    <input type="hidden" name="_csrf" [value]="token"  />
                                    <button type="submit" class="btn-link">Logout</button>
                                </form>
                            </li>
                        </ul>
                    </li>
                    </ng-template>
                  
                </ul>
            </div>       
        </nav>
    </div>
</div>
<!--MAIN MENU WRAP END-->

