<!--BREADCRUMBS BEGIN-->
<section class="image-header">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="info">
                    <div class="wrap">
                        <h1>Teams</h1>
                    </div>
                </div>
            </div>	
        </div>
    </div>
</section>
<!--BREADCRUMBS END-->

<!--ESPORT CHAMPIONSHIP PARTICIPANTS BEGIN-->
<div class="esport_championship_participants">
    <div class="container">
        <div class="row no-guters">
            <div class="col-md-12">
                <h5>Teams</h5>
            </div>
            <div id="teamList">
                <!-- NG FOR -->
                <div *ngFor="let team of teams">
                    <div class="col-md-3 col-sm-4 col-xs-6">
                        <a href="/teams/{{team.id}}">
                            <img src="images/common/esport-participants-background.jpg" class="background-team" alt="background">
                            
                            <!-- NG IF -->
                            <div *ngIf="team.image">
                                <img src="/teams/{{team.id}}/image" alt="team-logo">

                            </div>
                            <!-- NG IF -->

                            <span>{{team.name}}</span>
                        </a>
                    </div>
                </div>
                <!-- NG FOR -->

        </div>
    </div>  
</div>
<!--ESPORT CHAMPIONSHIP PARTICIPANTS END-->

<div class="container">
    <div class="row">
        <div class="col-md-12" style="text-align:center">
              <button class="btn small" id="loadMoreTeams" nextPage ="1" style="margin-bottom:40px">LOAD MORE</button>
          </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="store-banner position-relative">
            <div class="store-banner-info">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="title">Create <span>Your Team</span></div>
                            <a href="/newTeam" class="btn">Start</a>
                        </div>	
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
