<div class="col-md-12">    
    <div id="tournamentList">   
        <div *ngFor="let tournament of getTournamentsPage(); let i=index">
            <p>
                <button type="button" class="btn btn-outline-primary" style="width: 90%; text-align: left;" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed[i]" aria-controls="collapseExample">
                {{tournament.name}}
                </button>
                <span class="marker"><button class="btn small" style="margin-left: 2%;" (click)="join(tournament)" *ngIf="loginService.isLogged() && !tournament.started">Join</button></span>
            </p>
            <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed[i]">
                <div class="card">
                    <div class="card-body">
                        {{tournament.description}}
                    </div>
                    <div class="esport_championship_participants">
                        <div class="container">
                            <div class="row no-guters">
                                <div class="col-md-12" *ngIf="tournament.participants.length!= 0">
                                    <h5>Participants</h5>
                                </div>
                                <div id="teamList">
                                    <div class="col-md-3 col-sm-4 col-xs-6" *ngFor="let participants of tournament.participants">
                                        <a [routerLink]="['/teams/' + participants.id]">
                                            <img src="assets/images/common/esport-participants-background.jpg" class="background-team" alt="background">
                                            <img [src]="teamImage(participants)" alt="team-logo">
                                            <span>{{participants.name}}</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div> 
                        <button [routerLink]="['/tournaments/' + tournament.id]" class="btn small" style="margin-left: 40%; margin-bottom: 20px;">View tournament page</button> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12" style="text-align:center" *ngIf="getCanLoadMore()">
              <button class="btn small" id="loadMoreTournaments" (click)="loadMoreTournaments()" style="margin-bottom:40px">LOAD MORE</button>
          </div>
    </div>
</div>