{{>header}}

<!--BREADCRUMBS BEGIN-->
<section class="image-header">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="info">
                    <div class="wrap">
                        <h1>Contact</h1>
                    </div>
                </div>
            </div>	
        </div>
    </div>
</section>
<!--BREADCRUMBS END-->

    <!--CONTACT WRAP BEGIN-->
<section class="contacts-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h4>Victorious Team</h4>	
                <p>This is a web app developed by Team 5 for DAW subject, its purpose is the management of e-sports tournaments for users to track the results and play with theirs friends. </p>
                <div class="contact-office-img">
                    <img class="img-responsive" src="../images/common/esport-main-slider-1.jpg" alt="contact-office-img">	
                </div>
                <ul class="contact-list">
                    <li><i class="fa fa-flag" aria-hidden="true"></i><span>Enrique</span></li>
                    <li><i class="fa fa-flag" aria-hidden="true"></i><span>Dani</span></li>
                    <li><i class="fa fa-flag" aria-hidden="true"></i><span>Daniel</span></li>
                    <li><i class="fa fa-flag" aria-hidden="true"></i><span>Jacobo</span></li>
                </ul>
            </div>
            <div class="col-md-7">
                <h4>Get in touch</h4>	
                <div class="leave-comment-wrap">
                    <form>								
                        <div class="row">
                            <div class="col-md-6">
                                <div class="item">
                                    <label>
                                        <span>Name <i>*</i></span>
                                        <input type="text" name="name">
                                    </label>
                                </div>	
                            </div>
                            <div class="col-md-6">
                                <div class="item">
                                    <label>
                                        <span>Email <i>*</i></span>
                                        <input type="email" name="email">
                                    </label>
                                </div>	
                            </div>
                            <div class="col-md-12">
                                <div class="item">
                                    <label>
                                        <span>Subject</span>
                                        <input type="text" name="subjects">
                                    </label>
                                </div>	
                            </div>
                            <div class="col-md-12">
                                <div class="item">
                                    <label>
                                        <span>Your message<i>*</i></span>
                                        <textarea></textarea>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button class="comment-submit">Send us message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--CONTACT WRAP END-->

{{>footer}}
