{{>header}}

<h1 style="text-align:center;">Welcome to Victorious</h1>
{{#settingsError}}
<div class="row">
	<div class="container" style="text-align:center;">
		<div class="col-md-12">
			<div class="alert alert-danger alert-dismissable"> <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a> <strong>User name or email already in use</strong> </div>
		</div>
	</div>
</div>
{{/settingsError}}
{{#settingsSuccess}}
<div class="row">
	<div class="container" style="text-align:center;">
		<div class="col-md-12">
			<div class="alert alert-success alert-dismissable"> <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a> <strong>You change your profile correctly, session was closed to prevent errors</strong> </div>
		</div>
	</div>
</div>
{{/settingsSuccess}}
<h2 style="text-align:center;">Our website is divided into </h2>
<div class="main-slider-section">
    <div class="main-slider">
        <div id="main-slider" class="carousel slide" data-ride="carousel" data-interval="4000">
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="main-slider-caption">
                        <div class="container" style="text-align:center;">
                            <div class="row" style="padding-bottom:2pc;">
                                <h3 style="color:white;">Players</h3>
                            </div>
                            <div class="row" style="padding-bottom:2pc">
                                <div class="col-md-6" style="text-align:right">
                                    <img src="../images/soccer/player-3.jpg" height="250px" alt="person-slider">
                                </div>
                                <div class="col-md-6" style="text-align:left">
                                    <p style="color:white;padding-top:15px;padding-bottom:25px">
                                        Sign up to create your own avatar
                                    </p>
                                    <p style="color:white;padding-bottom:25px">
                                        Use your avatar to participate in this website
                                    </p>
                                    <p style="color:white;padding-bottom:25px">
                                        Modify your avatar whenever you want
                                    </p>
                                    {{^logged}}
                                    <p style="color:white">Register here <a href="/sign-up">
                                        <button style="border-radius:12px;background:#fc0;color:black">Sign up</button></a>
                                    </p>
                                    {{/logged}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="container" style="text-align:center;">
                        <div class="row" style="padding-bottom:2pc;padding-top:3.75pc">
                            <h3 style="color:white;"> Teams</h3>
                        </div>
                        <div class="row" style="padding-bottom:3pc;text-align:right">
                            <div class="col-md-6">
                                <img src="../images/common/team-logo4.png" height="250px" alt="team-logo">
                            </div>
                            <div class="col-md-6" style="text-align:left">
                                <p style="color:white;padding-top:15px;padding-bottom:25px">
                                    Join a team who fit your preferences
                                </p>
                                <p style="color:white;padding-bottom:25px">
                                    Create a team with your friends
                                </p>
                                <p style="color:white;padding-bottom:25px">
                                    The team leader can modify the team avatar
                                </p>
                                <p style="color:white;">Go to <a href="/teams">
                                    <button style="border-radius:12px;background:#fc0;color:black">Teams</button></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="container" style="text-align:center">
                        <div class="row" style="padding-bottom:2pc;padding-top:3.75pc">
                            <h3 style="color:white"> Tournaments</h3>
                        </div>
                        <div class="row" style="padding-bottom:2pc">
                            <div class="col-md-6" style="text-align:right">
                                <img src="../images/soccer/champ-logo.png" height="250px" alt="tournament">
                            </div>
                            <div class="col-md-6" style="text-align:left">
                                <p style="color:white;padding-top:25px;padding-bottom:50px">
                                    Create a tournament to play with your friends
                                </p>
                                <p style="color:white;padding-bottom:50px">
                                    Join an official tournament to obtain points
                                </p>
                                <p style="color:white;padding-bottom:10px">Go to <a href="/tournaments">
                                    <button style="border-radius:12px;background:#fc0;color:black">Tournaments</button></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="container">
                        <div class="col-md-12" style="text-align:center;">
                            <div class="row" style="padding-bottom:2pc;padding-top:3.75pc">
                                <h3 style="color:white;">League</h3>
                            </div>
                            <div class="row" style="padding-bottom:2pc">
                                <div class="col-md-6" style="text-align:right;padding-right:2pc">
                                    <img src="../images/soccer/league.png" height="250px">
                                </div>
                                <div class="col-md-6" style="text-align:left">
                                    <p style="color:white;padding-top:15px;padding-bottom:25px">
                                        Win or lose points participating in official tournaments
                                    </p>
                                    <p style="color:white;padding-bottom:25px">
                                        Your points depend on your position in the tournament
                                    </p>
                                    <p style="color:white;padding-bottom:25px">
                                        The league will refresh automatically after a tournament
                                    </p>
                                    <p style="color:white;">Go to <a href="/league">
                                        <button style="border-radius:12px;background:#fc0;color:black">League</button></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Controls -->
            <a class="nav-arrow left-arrow" href="#main-slider" role="button" data-slide="prev">
                <i class="fa fa-angle-left" aria-hidden="true"></i>
                <span class="sr-only"></span>
            </a>
            <a class="nav-arrow right-arrow" href="#main-slider" role="button" data-slide="next">
                <i class="fa fa-angle-right" aria-hidden="true"></i>
                <span class="sr-only"></span>
            </a>
        </div>
    </div>
</div>

{{>footer}}