{{>header}}

<!--BREADCRUMBS BEGIN-->
<section class="image-header">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="info">
                    <div class="wrap">
                        <h1>Team</h1>
                    </div>
                </div>
            </div>	
        </div>
    </div>
</section>
<!--BREADCRUMBS END-->

 <!--CLUB WRAP BEGIN-->

 <section class="club-wrap">
    <div class="container">
        <div class="row row-eq-height">
            <div class="col-md-9 col-sm-9 col-xs-9">
                <h4>{{actualTeam.name}}</h4>
                <ul class="tab-filters">
                    <li class="active"><a href="#abstract">Abstract</a></li>
                    <li><a href="#members">Members</a></li>
                    <li><a href="#admin">Admin</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
                <a href="broadcasts.html" class="btn small club-top-btn">Join Request</a>
            </div>
        </div>
    </div>

    <div class="tab-content">
        <div class="tab-pane fade in active" id="abstract" role="tabpanel">
            <div class="club-top-info">
                <div class="organisation-header-wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="club-logo  wpb_animate_when_almost_visible wpb_zoomInLeft zoomInLeft wpb_start_animation animated">
                                    <img src="../images/common/esport-team-landing-next-event-logo.png" alt="organisation logo" height="340px">                
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="org-club-info">
                                    <div class="item"><span>{{actualTeam.description}}</span></div>
                                </div>
                            </div>
                        </div>	
                    </div>	
                </div>
            </div>
            <!--CLUB MAIN STAT BEGIN-->
            <section class="club-main-stat">
                <div class="container">
                    <div class="row" >
                        <div class="col-md-12">
                            <h6>Statistics </h6>	                           
                           	<canvas id="myChart" height="80"></canvas>                          
                        </div>
                        <div class="col-md-12">
                            <h6>Tournaments</h6>
                            <div class="list-group"><a class="list-group-item"><span><img src="../images/common/sport-championship-logo.png"> Tournament's Name</span></a></div>
                        </div>
                        <div class="col-md-12">
                            <h6>Games</h6>
                            <ul>
                                <li class="list-group-item"><img src="../images/common/sport-championship-logo.png"> Game's Name</li>
                                <li class="list-group-item">
                                    <div class="text-right">
                                        <button class="btn small" data-toggle="modal" data-target="#myModal">+Add Game</button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <!--CLUB MAIN STAT END-->
        </div>
        <div class="tab-pane fade" id="members" role="tabpanel">
            <!--CLUB MEMBERS TOP BEGIN-->
            <div class="club-staff-top">
                <div class="container">
                    <div class="staff-box">
                        <div class="row">            
                            <div class="col-md-4  col-sm-6 col-xs-12">
                                <a href="player-second-page.html" class="item">
                                    <span class="info">
                                        <span class="name">Player's Name</span>
                                    </span>
                                    <img src="../images/soccer/staff-item-img.jpg" alt="player">
                                </a>
                            </div>
                            <div class="col-md-4  col-sm-6 col-xs-12">
                                <a href="player-second-page.html" class="item">
                                    <span class="info">
                                        <span class="name">Player's Name</span>
                                    </span>
                                    <img src="../images/soccer/staff-item-img.jpg" alt="player">
                                </a>
                            </div>
                            <div class="col-md-4  col-sm-6 col-xs-12">
                                <a href="player-second-page.html" class="item">
                                    <span class="info">
                                        <span class="name">Player's Name</span>
                                    </span>
                                    <img src="../images/soccer/staff-item-img.jpg" alt="player">
                                </a>
                            </div>
                            <div class="col-md-4  col-sm-6 col-xs-12">
                                <a href="player-second-page.html" class="item">
                                    <span class="info">
                                        <span class="name">Player's Name</span>
                                    </span>
                                    <img src="../images/soccer/staff-item-img.jpg" alt="player">
                                </a>
                            </div>
                            <div class="col-md-4  col-sm-6 col-xs-12">
                                <a href="player-second-page.html" class="item">
                                    <span class="info">
                                        <span class="name">Player's Name</span>
                                    </span>
                                    <img src="../images/soccer/staff-item-img.jpg" alt="player">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>                                         
        </div>
        <div class="tab-pane fade" id="admin" role="tabpanel">
            <div class="container" style="background-color: white;">
                <div class="row">
                    <div class="col-md-12">
                        <h6>Requests</h6>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-6"> <a href="">userName</a> </div>
                                    <div class="col-md-4 text-right">
                                        <form action="" method="post">
                                            <input type="hidden" name="_csrf" value="{{token}}" />
                                            <input type="hidden" name="userId" value="" />
                                            <input type="hidden" name="accept" value="true" />
                                            <input type="submit" class="btn small" value="Accept"> </form>
                                    </div>
                                    <div class="col-md-2 text-right">
                                        <form action="" method="post">
                                            <input type="hidden" name="_csrf" value="{{token}}" />
                                            <input type="hidden" name="userId" value="" />
                                            <input type="hidden" name="accept" value="false" />
                                            <input type="submit" class="btn small" value="Refuse"> </form>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <h6>Members</h6>
                        <ul class="list-group"> 
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-6"> <a href="">userName</a> </div>
                                    <div class="col-md-4 text-right">
                                        <form action="addAdmin" method="post">
                                            <input type="hidden" name="_csrf" value="{{token}}" />
                                            <input type="hidden" name="teamId" value="" />
                                            <input type="hidden" name="userId" value="" />
                                            <input type="submit" class="btn small btn-info" value="Add as admin"> </form>
                                    </div>
                                    <div class="col-md-2 text-right">
                                        <form action="kickUser" method="post" onsubmit="">
                                            <input type="hidden" name="_csrf" value="{{token}}" />
                                            <input type="hidden" name="teamId" value="" />
                                            <input type="hidden" name="userId" value="" />
                                            <input type="submit" class="btn small btn-danger" value="Kick"> </form>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <h6>Change team's avatar</h6>
                        <form action="{{actualTeam.name}}/changeAvatar" method="POST" enctype="multipart/form-data">
                            <input type="hidden" name="_csrf" value="{{token}}" />
                            <input type="file" name="pic" style="color: black;" />
                            <div class="text-right">
                            <input class="btn small" type="submit" value="Change"> </div>
                        </form>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--CLUB WRAP END-->

{{>footer}}