{{>header}}

<!--BREADCRUMBS BEGIN-->
<section class="image-header">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="info">
                    <div class="wrap">
                        <h1>Teams</h1>
                    </div>
                </div>
            </div>	
        </div>
    </div>
</section>
<!--BREADCRUMBS END-->

<!--ESPORT CHAMPIONSHIP PARTICIPANTS BEGIN-->
<div class="esport_championship_participants">
    <div class="container">
        <div class="row no-guters">
            <div class="col-md-12">
                <h5>Teams</h5>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <a href="team.html">
                    <img src="images/common/esport-participants-background.jpg" class="background-team" alt="background">
                    <img src="images/common/team-logo4.png" alt="team-logo">
                    <span>Boars team</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <a href="team.html">
                    <img src="images/common/esport-participants-background.jpg" class="background-team" alt="background">
                    <img src="images/common/team-logo4.png" alt="team-logo">
                    <span>Boars team</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <a href="team.html">
                    <img src="images/common/esport-participants-background.jpg" class="background-team" alt="background">
                    <img src="images/common/team-logo4.png" alt="team-logo">
                    <span>Boars team</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <a href="team.html">
                    <img src="images/common/esport-participants-background.jpg" class="background-team" alt="background">
                    <img src="images/common/team-logo4.png" alt="team-logo">
                    <span>Boars team</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <a href="team.html">
                    <img src="images/common/esport-participants-background.jpg" class="background-team" alt="background">
                    <img src="images/common/team-logo4.png" alt="team-logo">
                    <span>Boars team</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <a href="team.html">
                    <img src="images/common/esport-participants-background.jpg" class="background-team" alt="background">
                    <img src="images/common/team-logo4.png" alt="team-logo">
                    <span>Boars team</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <a href="team.html">
                    <img src="images/common/esport-participants-background.jpg" class="background-team" alt="background">
                    <img src="images/common/team-logo4.png" alt="team-logo">
                    <span>Boars team</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <a href="team.html">
                    <img src="images/common/esport-participants-background.jpg" class="background-team" alt="background">
                    <img src="images/common/team-logo4.png" alt="team-logo">
                    <span>Boars team</span>
                </a>
            </div>

            <div class="pagination-wrap">
                <ul class="pagination">
                    <li><a href="#"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
                    <li><a href="#">1</a></li>
                    <li class="active"><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>  
</div>
<!--ESPORT CHAMPIONSHIP PARTICIPANTS END-->

<div class="container">
    <div class="row">
        <div class="store-banner position-relative">
            <div class="store-banner-info">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="title">Create <span>Your Team</span></div>
                            <a href="newTeam.html" class="btn">Start</a>
                        </div>	
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{>footer}}