{{>header}}

<!--BREADCRUMBS BEGIN-->
<section class="image-header">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="info">
                    <div class="wrap">
                        <h1>Teams</h1>
                    </div>
                </div>
            </div>	
        </div>
    </div>
</section>
<!--BREADCRUMBS END-->

<!--ESPORT CHAMPIONSHIP PARTICIPANTS BEGIN-->
<div class="esport_championship_participants">
    <div class="container">
        <div class="row no-guters">
            <div class="col-md-12">
                <h5>Teams</h5>
            </div>
            {{#teams}}
            <div class="col-md-3 col-sm-4 col-xs-6">
                <a href="/teams/{{id}}">
                    <img src="images/common/esport-participants-background.jpg" class="background-team" alt="background">
                    <img src="images/common/team-logo4.png" alt="team-logo">
                    <span>{{name}}</span>
                </a>
            </div>
            {{/teams}}
        </div>
    </div>  
</div>
<!--ESPORT CHAMPIONSHIP PARTICIPANTS END-->

<div class="container">
    <div class="row">
        <div class="col-md-12">
              <button class="" style="margin-bottom:40px">LOAD MORE</a>
          </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="store-banner position-relative">
            <div class="store-banner-info">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="title">Create <span>Your Team</span></div>
                            <a href="/newTeam" class="btn">Start</a>
                        </div>	
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{>footer}}